 :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #68b3db;
  font-family: Arial, sans-serif;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

form label {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #52cf8f;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #15c015;
}

form p {
  margin-top: 10px;
  text-align: center;
  color: rgb(73, 159, 73);
}
